header{
    background: #FFCC99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1{
    font-weight: bold;
    text-align: center;
}

main{
    background: #E6F2FF;
    margin: 20px;
    display: flex;
}

aside{
    background: #B3D9FF;
    flex: 1;
    border: 1px solid #CCC;
}

section {
    flex: 3;
    margin: 20px;
}

footer{
    background: #99CC99;
    border: 1px solid #CCC;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}